@use '../Variables' as v;

.parent {
  all: unset;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
}

svg.icon {
  max-width: 24px;
  padding-right: 10px;
  padding-left: 10px;
  overflow: hidden;
}
