@use '../_Variables.scss' as v;
@use './BoxWithIcon.scss';

.projects-box {
  display: flex;
  flex-direction: row;
  width: max-content;
  justify-content: center;
}

.projects-paragraph {
  padding-right: 10px;
}

.projects-paragraph:last-of-type {
  padding-right: 0;
}
