@use '../_Variables.scss' as v;

p {
  text-align: center;
}

form {
  text-align: center;
}

input {
  flex: 1 1;
}

input[type=text] {
  font-style: v.$pallet-font-style;
  font-size: v.$pallet-font-size;
  color: v.$pallet-font;
}

input[type=submit] {
  margin-top: 10px;
  font-style: v.$pallet-font-style;
  font-size: v.$pallet-font-size;
  color: v.$pallet-font;
  border: none;
  background-color: none;
}

.turnstile {
  text-align: center;
  display: flex;
}
