
// colour pallet
$pallet-main : #C1E2DC;
$pallet-secondary: #7BC1B4;
$pallet-tertiary: #9ED1C8;
$pallet-highlight: #E2C1C4;
$pallet-warning: #D19EA3;
$pallet-font: #000;
$pallet-background: light-grey;

// fonts
$pallet-font: 'Fira Code';
$pallet-font-size: x-large;

html {
  font-family: $pallet-font, monospace;
  font-size: $pallet-font-size;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  overflow: overlay;
  background-color: $pallet-background;
  list-style-type: none;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

h1 {
  text-align: center;
}
