@use './_Variables.scss' as v;

@font-face {
  font-family: v.$pallet-font-style, monospace;
  src: url('../fonts/FiraCode-VF.ttf') format('truetype');

  @supports (font-variation-settings: normal) {
    code {
      font-family: v.$pallet-font-style-vf, monospace;
    }
  }

  @media all and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
    .ie10up {
      font-feature-settings: "calt";
    }
  }
}

html,
body {
  font-family: v.$pallet-font-style, monospace;
  font-size: v.$pallet-font-size;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  scroll-behavior: smooth;
  overflow: overlay;
  list-style-type: none;
  word-spacing: -5px;
}

footer {
  color: v.$pallet-dark;
}

.pallet-dark {
  background-color: v.$pallet-dark;
  color: v.$pallet-white;
  transition: v.$transition-all;

  a,
  i,
  li {
    color: v.$pallet-white;
    transition: v.$transition-colour;
  }

  a:visited {
    color: v.$pallet-white;
  }
}

.pallet-light {
  background-color: v.$pallet-white;
  color: v.$pallet-dark;
  transition: v.$transition-all;

  a,
  i,
  li {
    color: v.$pallet-dark;
    transition: v.$transition-colour;
  }

  a:visited {
    color: v.$pallet-dark;
  }
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pointer {
  cursor: pointer;
}

h1 {
  text-align: center;
}

div,
img {
  flex: 1;
}

.parent {
  all: unset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
}
