// colour pallet
$pallet-main: #c1e2dc;
$pallet-secondary: #7bc1b4;
$pallet-tertiary: #9ed1c8;
$pallet-highlight: #e2c1c4;
$pallet-warning: #d19ea3;
$pallet-font: #000;
$pallet-background: $pallet-main;

// fonts
$pallet-font: 'Fira Code';
$pallet-font-size: x-large;
