// colour pallet
$pallet-main : #C1E2DC;
$pallet-secondary: #7BC1B4;
$pallet-tertiary: #9ED1C8;
$pallet-highlight: #E2C1C4;
$pallet-warning: #D19EA3;
$pallet-font: #000;
$pallet-background: light-grey;

// fonts
$pallet-font: 'Fira Code';
$pallet-font-size: x-large;
