// colour pallet
$pallet-white: #f8f8f8;
$pallet-dark: #1f1f1f;

$transition-all: all 400ms ease;
$transition-colour: color 400ms;

// fonts
$pallet-font-style: 'Fira Code';
$pallet-font-style-vf: 'Fira Code VF';
$pallet-font-size: x-large;
$pallet-font: #1f1f1f;

.white {
  color: $pallet-white;
}

.black {
  color: $pallet-dark;
}
