@use './_Variables.scss' as v;
@use './_Main.scss';

ul {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.nav {
  background-color: v.$pallet-main;
  width: 1;
}
