@use './_Variables.scss' as v;
@use './_Main.scss';

ul {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-content: center;
  align-items: center;
  list-style-type: none;
  width: 1;
}

a:link,
a:visited,
a:active {
  color: v.$pallet-font;
}

div.nav {
  flex: 0;
}
